a
  {
    color: rgb(6, 51, 253);
  }

.grid line {
  stroke: lightblue;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

h2 {
      color: #000000;
      text-align:left;  
      /*font-style: italic;*/
      font-size: 15px;
      font-family: "Helvetica";
  }

h3 {
    color: #000000;
    text-align:left;  
    /*font-style: italic;*/
    font-size: 13px;
    font-family: "Helvetica";
}

div.tooltip {
      position: absolute;
      text-align: left;
      width: 350px;
      /*height: 50px;*/
      border-radius: 5px;
      padding: 5px;
      background: lightyellow;
      border: 0px;
      border-radius: 4px;
      pointer-events: none;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      font-size: 11px;
      font-family: "Helvetica";
      transition: 0.3s;
   }
  
ul {
    list-style-position:outside;
    list-style-type:disc;
    margin-left: -25px;    
   }

/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dot1 {

  position: absolute;
  height: 12px;
  width: 12px;
  top: 530px;
  left: 850px;
  /*margin-left: 25px;*/
  /*margin-right: 0px;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 6px;*/
  background-color: #1678b4;
  border-radius: 50%;
  /*display: inline-block;*/
  
}

.t1 {

  margin-top: 0px;  
  margin-left: 22px;
  margin-right: 5px;
  font-size: 12px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 200px;

}

.dot2 {

  position: absolute;
  height: 12px;
  width: 12px;
  top: 548px;
  left: 850px;
  /*margin-left: 25px;*/
  /*margin-right: 0px;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 6px;*/
  background-color: #acd0f0;
  stroke-width: 5px;
  border-radius: 50%;
  /*display: inline-block;*/
    
}

.t2 {

  margin-top: 0px;  
  margin-left: 22px;
  margin-right: 5px;
  font-size: 12px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 200px;

}

.chkbox_frame_1 {

position: absolute;
/*height: 12px;*/
/*width: 12px;*/
top: 525px;
left: 130px;

}


.chkbox_frame_2 {

position: absolute;
/*height: 12px;*/
/*width: 12px;*/
top: 525px;
left: 450px;

}

input[type="checkbox"] {
  vertical-align: middle;
  cursor: pointer;
}

label {

font-size: 12px;
font-family: "Helvetica";
vertical-align: middle;

}